<div class="w-full flex flex-col md:flex-row items-center">
    <div class="bg-indigo-100 w-96 h-96 flex flex-col items-center justify-around">
        <div class="mx-20">
            <input placeholder="type text" class="text-gray-700 leading-tight text-center font-semibold border rounded-xl w-full py-2" [(ngModel)]="text" #ctrl="ngModel" required [maxlength]="5">
        </div>
        <div class="w-full px-24">
            <select [selectedIndex]="0" (change)="onFontChange($event)" id="font-name" class="text-gray-400 text-center font-medium appearance-none w-full bg-gray-50 p-2 leading-tight rounded-xl" name="" id="">
                <option value="Standard">Select font</option>
                <option value="Standard">Standard</option>
                <option value="Isometric3">Isometric3</option>
                <option value="Whimsy">Whimsy</option>
            </select>
        </div>
    </div>
    <div class="bg-gradient-to-tl from-indigo-100 to-white min-w-max w-96 h-96 flex flex-col items-center justify-center p-5">
        <h3 class="relative h-full p-0 text-5xl font-extralight self-start text-indigo-200 select-none">output</h3>
        <pre #output class="min-h-full" class="h-full text-indigo-600" contenteditable="true">{{this.text | asciiart:fontName}}</pre>
    </div>
</div>